.container{
    // position: relative;
    // top:10%;
    // left:10%;
    // z-index:1000;
    display: flex;
    flex:1;
    background-color: #ffff;
}

.header{
    text-align: center;
    color: cadetblue;
    text-indent: 10;
    font-family: serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.wrapper{
    // display: flex;
    // flex:1;
    width: 50%;
    // background-color: chocolate;
    background-color: #847376;
    color:white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    p{
        letter-spacing: 4px;
        font-family: serif;
        font-size: 22px;
        text-transform: uppercase;
    }
    
    button{
        background-color: #5b4d4d;
        color:white;
    }
}
::ng-deep .mat-mdc-dialog-content {
  max-height: none !important;
}
mat-dialog-content{
    display: flex;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

mat-form-field{
    display: flex;
    width: 100%;
}

.con1 {
  display: flex;
  margin-top: 12px; /* or adjust as needed */
  position: relative; /* NOT absolute unless truly needed */
  z-index: 1;
}

input{
    border-radius: 40px;
    border: none;
    padding-left: 6%;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 70px;
    width: 352px;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}

mat-icon{
    height: 53px; 
    width: 50px; 
    font-size: 59px;
    overflow: hidden;
    margin-top: 3px;
    margin-left: -43px;
    background: #2db78a;
    color: white;
    border-radius: 60%;
    padding: 5px;
}
mat-icon:hover{
    cursor: pointer;
}
::ng-deep .mat-mdc-form-field .mdc-line-ripple {
    display: none !important;
  }
  ::ng-deep .mat-mdc-form-field.mat-form-field-appearance-fill .mdc-text-field--filled {
    background-color: transparent !important;
    box-shadow: none !important;
  }
//   .back-btn{
//     display: none;
//   }
.dialog-content-wrapper {
  position: relative; /* So absolute back-btn works */
}

//  .back-btn {
//     position: absolute;
//     right: 0px;
//     // mat-icon{
        
//     // height: 41px;
//     // width: 37px;
//     // font-size: 44px;
//     // overflow: hidden;
//     // margin-top: 3px;
//     // // margin-left: -20px;
//     // background: #2db78a;
//     // color: white;
//     // border-radius: 60%;
//     // padding: 5px;
//     // }
    
// }
// .back-btn:hover{
//     cursor:pointer
// }
.back-btn {
 position: absolute;
    top: 0px;
    left: 98%;
    z-index: 1000;
}
.back-btn mat-icon {
     height: 53px;
    width: 50px;
    font-size: 59px;
    overflow: hidden;
    margin-top: 3px;
    margin-left: -43px;
    background: #2db78a;
    color: white;
    border-radius: 60%;
    padding: 5px;

}

.back-btn:hover {
  cursor: pointer;
}
  @media (min-width:'412px') and (max-width:'915px') {
        mat-dialog-content{
            display: flex;
        }
        .header{
        text-align: center;
        color: cadetblue;
        text-indent: 10;
        font-family: serif;
        letter-spacing: 3px;
        text-transform: uppercase;
        // padding-left:24%
        }
        .con1{
            display: flex;
            position: absolute;
            top:147%;
            left:0
        }
        mat-icon{
            margin-left:-70px
        }
        .wrapper{
        width: 100%;
        background-color: #847376;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        }
       
    input{
    width:342px
    }
    .back-btn mat-icon {
        height: 32px;
        width: 33px;
        font-size: 37px;
        overflow: hidden;
        margin-top: 3px;
        margin-left: -38px;
        background: #2db78a;
        color: white;
        border-radius: 60%;
        padding: 5px;
    }
  }

@media (min-width:'390px') and (max-width:'844px') {  
  .con1{
        display: flex;
        position: absolute;
        top: 147%;
        left: 7%;
    }
    input{
         width: 300px;
    }

   .wrapper{
        width: 100%;
        background-color: #847376;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .back-btn mat-icon {
        height: 32px;
        width: 33px;
        font-size: 37px;
        overflow: hidden;
        margin-top: 3px;
        margin-left: -38px;
        background: #2db78a;
        color: white;
        border-radius: 60%;
        padding: 5px;
    }
  }

  @media (min-width:'360px') and (max-width:'740px') {  
   mat-dialog-content{
            display: flex;
        }
        .header{
        text-align: center;
        color: cadetblue;
        text-indent: 10;
        font-family: serif;
        letter-spacing: 3px;
        text-transform: uppercase;
        // padding-left:24%
        }
        .con1{
            display: flex;
            position: absolute;
            top:147%;
            left:0
        }
        mat-icon{
            margin-left:-70px
        }
        .wrapper{
        width: 100%;
        background-color: #847376;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        }
       
    input{
    width:342px
    }
    .back-btn mat-icon {
        height: 32px;
        width: 33px;
        font-size: 37px;
        overflow: hidden;
        margin-top: 3px;
        margin-left: -38px;
        background: #2db78a;
        color: white;
        border-radius: 60%;
        padding: 5px;
    }
  }  @media (min-width:'430px') and (max-width:'932px') {  
   mat-dialog-content{
            display: flex;
        }
        .header{
        text-align: center;
        color: cadetblue;
        text-indent: 10;
        font-family: serif;
        letter-spacing: 3px;
        text-transform: uppercase;
        // padding-left:24%
        }
        .con1{
            display: flex;
            position: absolute;
            top:147%;
            left:0
        }
        mat-icon{
            margin-left:-70px
        }
        .wrapper{
        width: 100%;
        background-color: #847376;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        }
       
    input{
    width:342px
    }
    .back-btn mat-icon {
        height: 32px;
        width: 33px;
        font-size: 37px;
        overflow: hidden;
        margin-top: 3px;
        margin-left: -38px;
        background: #2db78a;
        color: white;
        border-radius: 60%;
        padding: 5px;
    }
  }
  