
<mat-dialog-content>
    <div class="container">
        <mat-form-field>
            <h4 class="header">Search Cities </h4>
            <div class="con1">    
                <input matInput placeholder="   search city" (input)='onChange($event)' type="text">
                <mat-icon (click)="search()">search</mat-icon>
            </div>
        </mat-form-field>
    </div>
    <!-- @if(result){ -->
    <div  class="wrapper" *ngIf="result">
        <p>{{localDate | date: 'fullDate'}}</p>
        <img [src]="weatherSrc" style="width:25%"/>
        <p>{{temp}}<sup>o</sup></p>
        <p>{{cityName}}</p>
        <p>{{weatherDesc}}</p>
        <button mat-raised-button (click)="onAdd()">Add</button>
    </div>
<!-- } -->
 <!-- @else if(error ){ -->
    <div class="wrapper" *ngIf="error">
         <p>{{error}}</p>
    </div>
<!-- } -->
</mat-dialog-content>