/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// .custom-dialog-container{
//     position: absolute !important;
//     top:15%;
//     width: 1500px;
//     height: 500px;
//     // background: rgba(50,50,93,0.25)
// }

.custom-dialog-container .mat-dialog-container {
  background-color: #fff !important;
  border-radius: 8px;
  padding:0
}
.custom-dialog-container {
    max-width: none !important;
    width: 1200px !important;
    height: 415px !important;
    // max-height: 1250px !important;
    margin-top: 2.5%; // Optional if you want to move it down
    display: flex;
    justify-content: space-between;
  }
  
.blurred-backdrop{
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.2);
}

.custom-dialog-container .mat-mdc-dialog-content {
  padding: 0 !important;
}

.mat-mdc-dialog-content {
    display: flex
;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
    /* max-height: 65vh; */
}
// ::ng-deep .mat-mdc-form-field.mat-form-field-appearance-fill .mdc-text-field--filled {
//   background-color: transparent !important;
//   box-shadow: none !important;
// }
// ::ng-deep .mat-mdc-form-field .mdc-line-ripple {
//   display: none !important;
// }

.mat-mdc-dialog-content {
  height: auto !important;
}
